
columns
	margin-bottom: 15px
.countdown
	height: 120px
	background: #eee
	border-radius: 5px
	border-width: 7px
	border-bottom-color: #2c6671
	border-bottom-style: solid
	position: relative

	span p
		font-size: 60px
		position: absolute
		color: $gray
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		display: block
.category
	font-size: 20px
	color: $white